<template>
  <div id="app">
   <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',

}
</script>

<style>

body {
    background: white
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
  url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf) format("truetype");
}

</style>
